<Context>

    <Resource name="jdbc/springbook"

              auth="Container"

              type="javax.sql.DataSource"

              username="study"

              password="study"

              driverClassName="com.mysql.jdbc.Driver"

              url="jdbc:mysql:/localhost:3306/springbook"

              maxActive="15"

              maxIdle="3"/>

</Context>